<section id="courses" class="bg-light text-center py-5">
  <div class="container">
    <h2 class="mb-4">Courses and Certifications</h2>
    <div class="row justify-content-center">
      <% @courses_and_certifications.each do |course| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <% if course["type"] == "pdf" %>
              <div class="card-body">
                <h5 class="card-title"><%= course["title"] %></h5>
                <a href="<%= course["file_url"] %>" target="_blank" class="btn btn-outline-success">
                  Download PDF
                </a>
              </div>
            <% elsif course["type"] == "image" %>
              <img src="<%= course["image_url"] %>" class="card-img-top" alt="<%= course["title"] %> preview" loading="lazy">
              <div class="card-body"
                <h5 class="card-title"><%= course["title"] %></h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>